.characters-page {
    display: flex;
    min-height: 100vh;
    width: 80%;
    background-color: rgb(6, 6, 15, 0.8);
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}