.home-page {
    display: flex;
    min-height: 100vh;
    width: 80%;
    background-color: rgb(6, 6, 15, 0.8);
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.passie {
    padding-left: 100px;
    padding-right: 100px;
    font-size: large;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .home-page {
        display: flex;
        min-height: 100vh;
        width: 100%;
        background-color: rgb(6, 6, 15, 0.8);
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .passie {
        padding-left: 30px;
        padding-right: 30px;
        font-size: large;
    }
}



