.character-cards {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    display: flex;
    height: 250px;
    width: 175px;
    border-style: solid;
    border-color: rgba(255, 251, 251, 0.8);
    border-radius: 10px;
    margin: 15px;
}

.pages {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-button {
    font-size: x-large;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 251, 251, 0.9);
    color: #232528;
    padding: 10px;
}