.members-page {
    min-height: 100vh;
    width: 80%;
    background-color: rgb(6, 6, 15, 0.8);
    padding-bottom: 20px;
}

.pfp{
    margin-top: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    font-size: medium;
}

.username {
    margin-top: 0px;
    font-size: larger;
}

.display-members {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.member {
    display: flex;
    flex-direction: column;
    width: 220px;
    flex-wrap: wrap;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .members-page {
        display: flex;
        min-height: 100vh;
        width: 100%;
        background-color: rgb(6, 6, 15, 0.8);
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
}