.topbar-component {
    width: 100%;
}

.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #732425;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a {
    text-decoration: none;
    color: #fffbfb;
}

