.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 75px;
    overflow: hidden;
    background-color: #990706;
}

li {
    float: left;
}

li Link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

